@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800&display=swap');

*{
    font-family: 'Montserrat'
}

body{
    min-width: fit-content;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    font-style: italic;
}

h2 {
    font-size: 20px;
    font-weight: Lighter;
    color: #282828;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 16px;
    padding-bottom: 5px;
}

body {
    min-width: fit-content;
}

.name-text {
    font-size: 17px;
    color: #7c7c7c;
    font-weight: bold;
}

.mainbox {
    width: 610px;
    margin-left: auto; /*가운데 정렬법*/
    margin-right: auto;
    border: 1px solid #ebebeb;
    /*text-align: right; 메인박스 텍스트 오른쪽 정렬*/
    padding: 30px;
    margin: 30px;
    box-shadow: 0 1px 20px 0 rgba(255,192,203,1);
} /*mainbox가 footer보다 빨리 와야 하나?*/

footer {
    text-align: center;
    background-color: #1E1E1E;
    padding: 20px;
    font-size: 12px;
    color: #919191;
}

section {
    margin-bottom: 24px;
}

.name-text {
    font-size: 16px;
    color: #7c7c7c;
    font-weight: bold;
}

.about-me-text {
    font-size: 10px;
    line-height: 16px;
}

.title-text {
    font-size: 11px;
    font-weight: bold;
    color: #282828;
    float: left; /*둥둥 떠다니되 왼쪽에 붙어서 둥둥*/
}

.year-text {
    font-size: 11px;
    font-weight: bold;
    color: #282828;
    float: right;
}

.float-wrap {
    overflow: hidden;
}

.desc-text {
    font-size: 9px;
}

.desc-subtext {
    font-size: 9px;
    color: #282828;
    padding-left: 16px;
}