@font-face {
    font-family: 'Yeongdo-Rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/Yeongdo-Rg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HS-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/HS-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'CBNUJIKJI';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202@1.0/CBNUJIKJI.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* .all {
    display: flex;
} */

.leftbox {
    width: 20%;
    height: 100%;
    background-color: rgb(177, 177, 177);
    position: fixed;
}

h1 {
        font-family: 'HS-Regular';
        font-size: 50px;
        font-weight: bold;
        text-align: center;
        padding: 50px;
        float: right;
        box-sizing: border-box;
}

.menu {
    font-family: 'Yeongdo-Rg';
    font-size: 35px;
    font-weight: nomal;
    text-align: center;
}

.menu li {
    margin-bottom: 20px;
}

.mebox {
    width: 200px;
    height: 200px;
    border-radius: 70%;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 150px;
}

.profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rightbox {
    margin: 50px;
}

h2 {
    font-family: 'Yeongdo-Rg';
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 50px;
    padding-bottom: 5px;
    height: 100vh;
    margin: 5%;
}

.float-text {
    overflow: hidden;
    height: 30px;
    font-family: 'CBNUJIKJI';
    font-size: 30px;
    margin-bottom: 16px;
}

.title-text {
    float: left;
    font-weight: bold;
}

.me-text {
    float: right;
    margin-left: 800px;
}

.sub-text {
    font-weight: lighter;
    font-size: 20px;
    color: #a0a0a0;
    font-family: 'CBNUJIKJI';
    font-style: italic;
    padding-left: 20px;
    margin-bottom: 20px;
}